h1{
    text-align: center;
    font-size: 40px;
    font-style: italic;
    color: #000000;
}

body{
    background-image: url("fondo.jpg");
}

form{
    width: 600px;
    margin: 50px auto;
    padding: 0 0 10px;
    border: 3px solid rgba(62, 68, 74, 0.92);
    border-radius: 20px;
    background-color: rgba(177, 204, 236, 0.92);
    
}

form img{
    height: 5%;
    width: 5%;
    padding: 0px;
}

.box1 {
    display: flex;
    
}

.box1 *{
    width: 48%;
    margin: 10px auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box {
    display: flex;
}

.box *{
    width: 48%;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.612);
}

.checkbox-acuerdos{
    display: flex;
    justify-content: center;
}
.checkbox-acuerdos *{
    padding: 0 2px;
}

.registro{
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

